**/execute.ps1
**/message.txt
\.vscode/

03 Understanding the Basics/deletedImage\.txt

04 Improved Development Workflow and Debugging/node_modules/

04 Improved Development Workflow and Debugging/package-lock\.json
